.env
.venv
*.egg-info/
*.json
*.db
tmp*
__pycache__
target/
dbt_packages/
logs/
*.duckdb
*.env
**/.logs_queue
**/.nux
**/.telemetry
**/history
**/schedules
**/storage
build/
README1.md
example/
*DS_Store
**db/data
*.env.prod

.github/